[submodule "motion-planners"]
	path = motion-planners
	url = git@github.com:caelan/motion-planners.git
[submodule "pddlstream"]
	path = pddlstream
	url = git@github.com:caelan/pddlstream.git
[submodule "GPy"]
	path = GPy
	url = git@github.com:SheffieldML/GPy.git
